<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Prime Number Generator">
  <meta name="author" content="">

  <title>Prime Number Generator</title>

  <link rel="stylesheet" href="styles.css">
  <link rel=" shortcut icon" href="favicon.ico">

</head>

<body>
  <script>
    function submitInput() {
      const userInput = document.querySelector('#user-number').value;
      const request = new XMLHttpRequest();
      request.open('POST', '/api', true);
      request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
      request.onreadystatechange = function() { // Call a function when the state changes.
        if(this.readyState === 4 && this.status === 200) {
          document.querySelector('#results').innerHTML = this.response;
        }
      }
      request.send(`number=${userInput}`);
    }
  </script>
  <div id="input-section" class="container">
    <h1>
      Prime Number Generator
    </h1>
    <div class="user-input-and-button">
      <h1>Input number from 1 to 10,000: </h1>
      <input id="user-number" name="number" type="text" />
      <button class="user-button" onclick="submitInput()" type="submit">Go!</button>
    </div>
    <div id="resultsSection" class="container2">
        <h2 id="results">
          [-(Result listed here)-]
        </h2>
      </div>
  </div>
</body>
</html>
